#!/usr/bin/env bash
export PYTHON_KEYRING_BACKEND=keyring.backends.null.Keyring
# see https://github.com/python-poetry/poetry/issues/6354#issue-1360127928

if ! command -v poetry &> /dev/null
then
  echo "WARNING: poetry could not be found on \$PATH"
fi

if [ -n "${VIRTUAL_ENV:-}" ]; then
  echo "WARNING: \$VIRTUAL_ENV is already set: $VIRTUAL_ENV"
fi

# auto-activate the poetry venv if one is selected
VIRTUAL_ENV="$(poetry env info --path || true)"
if [ -d "$VIRTUAL_ENV" ]; then
  export VIRTUAL_ENV
  export PATH="$VIRTUAL_ENV/bin:$PATH"
  # note that direnv can't set the shell prompt, $PS1, since PS1 is handled
  # specially by different shells. See https://github.com/direnv/direnv/wiki/PS1
else 
  echo "WARNING: No poetry venv found"
fi
